In [9]:
import sqlite3, os, csv
#(ind integer, link text, name text, price integer, kms integer, year integer, insert_date date)
db_name = "myown.db"
table_name="cars_raw"
def getSQL(cmd):
    #Get cars which have multiple values in the database
    conn = sqlite3.connect(db_name)
    rows=[]
    for row in conn.execute(cmd):
        rows.append(row)
    conn.close()
    return rows

def runSQL(cmd):
    conn = sqlite3.connect(db_name)
    conn.execute(cmd)
    conn.commit()
    conn.close()

def printSQL(cmd):
    res = getSQL(cmd)
    for r in res:
        print(r)
    
printSQL('PRAGMA table_info(cars_raw);')

#https://www.nettiauto.com/volkswagen/transporter/9806664
#https://www.autotalli.com/vaihtoauto/36623384/Ford/Transit/2014/H%C3%A4meenlinna?pos=0&page=1&searchType=usedCar
#https://www.autotalli.com/vaihtoauto/36356948/Fiat/Scudo/2001/Kotka?pos=15&page=1&searchType=usedCar

#res=getSQL("SELECT DISTINCT link FROM cars_raw LIMIT 10")
#res=getSQL("SELECT DISTINCT link FROM cars_raw")
#printSQL("SELECT DISTINCT count(1) FROM cars_raw where name like '%autotie.fi%'")
#res=getSQL("SELECT DISTINCT link FROM cars_raw where name like '%auto%' LIMIT 10")
'''for r in res:
        #if not ("www" in r[0]):
        print(r[0])'''
#Remove link from name so it wont be "link.com/mercedes"
runSQL("UPDATE cars_raw set name = replace(name,'https://www.autotie.fi','') where name like 'https://www.autotie.fi%'")
runSQL("UPDATE cars_raw set link = 'https://www.autotie.fi' || link where link not like 'https://www.autotie.fi%' and link not like 'https://www.nettiauto.com%' and link not like 'https://www.autotalli.com%'")
printSQL("SELECT count(1) from cars_raw where link not like 'https://www.autotie.fi%' and link not like 'https://www.nettiauto.com%' and link not like 'https://www.autotalli.com%' LIMIT 100")
printSQL("SELECT count(1) FROM cars_raw where name like '%autotie.fi%'")

(0, 'ind', 'integer', 0, None, 0)
(1, 'link', 'text', 0, None, 0)
(2, 'name', 'text', 0, None, 0)
(3, 'price', 'integer', 0, None, 0)
(4, 'kms', 'integer', 0, None, 0)
(5, 'year', 'integer', 0, None, 0)
(6, 'insert_date', 'date', 0, None, 0)
(7, 'batchname', 'varchar(50)', 0, None, 0)
(0,)
(0,)

In [ ]:
SELECT Group, COUNT(*)
FROM table
GROUP BY Group
ORDER BY COUNT(*) DESC

In [21]:
#Get car makes
import sqlite3 
db_name="myown.db"
data_name="cars_raw"

#Get cars which have multiple values in the database
conn = sqlite3.connect(db_name)
#ret=conn.execute("select name from cars_raw where name like 'Toyota%'").fetchall()
ret=conn.execute("select distinct name from cars_raw").fetchall()
#substr(trim(cmd),1,instr(trim(cmd)||' ',' ')-1)
ret=conn.execute("select distinct substr(trim(name),1,instr(trim(name)||' ',' ')-1) as Model, count(*) from cars_raw group by Model order by COUNT(*) DESC").fetchall()
conn.close()
car_makes=[]
car_models=[]
for line in ret:
    car_models.append(line[0])

for model in car_models:
    car_makes.append(model.partition(' ')[0])
print(car_makes)
print(car_models)

['Ford', 'Volkswagen', 'Mercedes-Benz', 'Volvo', 'Toyota', 'BMW', 'Opel', 'Audi', 'Skoda', 'Fiat', 'Renault', 'Nissan', 'Peugeot', 'Citroen', 'Mitsubishi', 'Mazda', 'Honda', 'Kia', 'Hyundai', 'KIA', 'Subaru', 'Chevrolet', 'Seat', 'Saab', 'SEAT', 'Chrysler', 'Land', 'Jaguar', 'Citroën', 'Lexus', 'Porsche', 'Suzuki', 'Dacia', 'Dodge', 'Jeep', 'Mini', 'Alfa', 'Adria', 'MINI', 'Cadillac', 'Lada', 'Pontiac', 'Burstner', 'Iveco', 'Isuzu', 'Tesla', 'Citro%C3%ABn', 'Dethleffs', 'Smart', 'Hobby', 'Daewoo', 'Ferrari', 'Lincoln', 'Lmc', 'Datsun', 'Maserati', 'Kabe', 'Plymouth', 'B%C3%BCrstner', 'Harley-Davidson', 'Buick', 'Rover', 'Carado', 'P%C3%B6ssl', 'Kawasaki', 'Bentley', 'GMC', 'Hymer', 'Sun', 'Oldsmobile', 'Knaus', 'Yamaha', 'Triumph', 'Solifer', 'SsangYong', 'TruckMasters', 'Lancia', 'Infiniti', 'Hummer', 'Mercury', 'MG', 'Daihatsu', 'Sunlight', 'Lamborghini', 'Fiat-Abarth', 'Moskvitsh', 'Ssangyong', 'Rolls-Royce', 'Aston', 'Vauxhall', 'Lotus', 'Harley', 'Austin', 'Morris', 'Casa', 'Rimor', 'Eura', 'Wartburg', 'Aixam', 'KTM', 'Muu', 'Truckmasters', 'Fiat-Elnagh', 'UAZ', 'GAZ', 'McLaren', 'Volga', 'Datsun-Nissan', 'Talbot', 'Mclouis', 'Lada-Vaz', 'Pw', 'Westfalia', 'Fiat-Burstner', 'Ducati', 'Karmann', 'Mercedes-Amg', 'Elnagh', 'Rambler', 'Husqvarna', 'Neckar', 'Aprilia', 'Bmw', 'DS', 'Gm', 'Piaggio', 'Sunbeam', 'Trabant', 'Can-Am', 'Victory', 'Willys', 'Fiat-Adria', 'Fiat-Dethleffs', 'Rapido', 'Hillman', 'Microcar', 'Sharky', 'Challenger', 'AMC', 'Ginetta', 'Man', 'Polaris', 'Daimler', 'Hudson', 'Cobra', 'Fuso', 'Derbi', 'Simca', 'Uttern', 'Cabby', 'DeSoto', 'Fendt', 'Daf', 'Weinsberg', 'Bobcat', 'Jdm', 'Ktm', 'Moto', 'Uaz', 'ZAZ', 'Eagle', 'Fiat-Lmc', 'Mv', 'Joint', 'Packard', 'Vespa', 'Auto', 'Bertone', 'Fiat-Ahorn', 'Globecar', 'Ligier', 'Polar', 'Sunwind', 'Tabbert', 'DKW', 'Buster', 'Carthago', 'Fiat-Sharky', 'Granduca', 'International', 'Kymco', 'Sea', 'Ford-Tec', 'Flair', 'Miller', 'Riviera', 'K%C3%A4rrysauna', 'Niewiadow', 'Fisker', 'Simson', 'Fiat-Chausson', 'Caterham', 'Piccolo', 'Studebaker', 'Wolseley', 'Standard', 'Bmwi', 'Checker', 'De', 'Poksi', 'Leyland', 'Lloyd', 'Acadian', 'Jensen', 'MAN', 'Riley', 'Matra', 'NSU', 'Armstrong', 'Hupmobile', 'Marcos', 'Chatenet', 'Matkaaja', 'Pinzgauer', 'Acura', 'Bedford', 'Frazer', 'Fiat-Solifer', 'Gilera', 'Borgward', 'Nash', 'Think', 'Maybach', 'Trapper', 'Radical', 'Capron', 'Essex', 'Rotec', 'Ci', 'FSO', 'London', 'TVR', 'Ford-Hobby', 'Morgan', 'DFSK']
['Ford', 'Volkswagen', 'Mercedes-Benz', 'Volvo', 'Toyota', 'BMW', 'Opel', 'Audi', 'Skoda', 'Fiat', 'Renault', 'Nissan', 'Peugeot', 'Citroen', 'Mitsubishi', 'Mazda', 'Honda', 'Kia', 'Hyundai', 'KIA', 'Subaru', 'Chevrolet', 'Seat', 'Saab', 'SEAT', 'Chrysler', 'Land', 'Jaguar', 'Citroën', 'Lexus', 'Porsche', 'Suzuki', 'Dacia', 'Dodge', 'Jeep', 'Mini', 'Alfa', 'Adria', 'MINI', 'Cadillac', 'Lada', 'Pontiac', 'Burstner', 'Iveco', 'Isuzu', 'Tesla', 'Citro%C3%ABn', 'Dethleffs', 'Smart', 'Hobby', 'Daewoo', 'Ferrari', 'Lincoln', 'Lmc', 'Datsun', 'Maserati', 'Kabe', 'Plymouth', 'B%C3%BCrstner', 'Harley-Davidson', 'Buick', 'Rover', 'Carado', 'P%C3%B6ssl', 'Kawasaki', 'Bentley', 'GMC', 'Hymer', 'Sun', 'Oldsmobile', 'Knaus', 'Yamaha', 'Triumph', 'Solifer', 'SsangYong', 'TruckMasters', 'Lancia', 'Infiniti', 'Hummer', 'Mercury', 'MG', 'Daihatsu', 'Sunlight', 'Lamborghini', 'Fiat-Abarth', 'Moskvitsh', 'Ssangyong', 'Rolls-Royce', 'Aston', 'Vauxhall', 'Lotus', 'Harley', 'Austin', 'Morris', 'Casa', 'Rimor', 'Eura', 'Wartburg', 'Aixam', 'KTM', 'Muu', 'Truckmasters', 'Fiat-Elnagh', 'UAZ', 'GAZ', 'McLaren', 'Volga', 'Datsun-Nissan', 'Talbot', 'Mclouis', 'Lada-Vaz', 'Pw', 'Westfalia', 'Fiat-Burstner', 'Ducati', 'Karmann', 'Mercedes-Amg', 'Elnagh', 'Rambler', 'Husqvarna', 'Neckar', 'Aprilia', 'Bmw', 'DS', 'Gm', 'Piaggio', 'Sunbeam', 'Trabant', 'Can-Am', 'Victory', 'Willys', 'Fiat-Adria', 'Fiat-Dethleffs', 'Rapido', 'Hillman', 'Microcar', 'Sharky', 'Challenger', 'AMC', 'Ginetta', 'Man', 'Polaris', 'Daimler', 'Hudson', 'Cobra', 'Fuso', 'Derbi', 'Simca', 'Uttern', 'Cabby', 'DeSoto', 'Fendt', 'Daf', 'Weinsberg', 'Bobcat', 'Jdm', 'Ktm', 'Moto', 'Uaz', 'ZAZ', 'Eagle', 'Fiat-Lmc', 'Mv', 'Joint', 'Packard', 'Vespa', 'Auto', 'Bertone', 'Fiat-Ahorn', 'Globecar', 'Ligier', 'Polar', 'Sunwind', 'Tabbert', 'DKW', 'Buster', 'Carthago', 'Fiat-Sharky', 'Granduca', 'International', 'Kymco', 'Sea', 'Ford-Tec', 'Flair', 'Miller', 'Riviera', 'K%C3%A4rrysauna', 'Niewiadow', 'Fisker', 'Simson', 'Fiat-Chausson', 'Caterham', 'Piccolo', 'Studebaker', 'Wolseley', 'Standard', 'Bmwi', 'Checker', 'De', 'Poksi', 'Leyland', 'Lloyd', 'Acadian', 'Jensen', 'MAN', 'Riley', 'Matra', 'NSU', 'Armstrong', 'Hupmobile', 'Marcos', 'Chatenet', 'Matkaaja', 'Pinzgauer', 'Acura', 'Bedford', 'Frazer', 'Fiat-Solifer', 'Gilera', 'Borgward', 'Nash', 'Think', 'Maybach', 'Trapper', 'Radical', 'Capron', 'Essex', 'Rotec', 'Ci', 'FSO', 'London', 'TVR', 'Ford-Hobby', 'Morgan', 'DFSK']

In [22]:
#Based on this we get accepted car makes
#cars=['Ford', 'Mercedes-Benz', 'Volkswagen', 'Toyota', 'Fiat', 'Renault', 'Mitsubishi', 'Peugeot', 'Opel', 'Honda', 'Audi', 'Citroen', 'Volvo', 'Lada', 'Mazda', 'Nissan', 'BMW', 'Saab', 'Alfa Romeo', 'Buick', 'Pontiac', 'Talbot', 'Chrysler', 'Suzuki', 'Skoda', 'Hyundai', 'Seat', 'Chevrolet', 'Vauxhall', 'Datsun', 'Moskvitsh', 'Daewoo', 'Dodge', 'Isuzu', 'Datsun-Nissan', 'Austin', 'Wartburg', 'Rover', 'Subaru', 'Daihatsu', 'Triumph', 'Bedford', 'Trabant', 'KIA', 'Cadillac', 'Oldsmobile', 'Plymouth', 'Jeep', 'Neckar', 'GAZ', 'Mercury', 'Lancia', 'Volga', 'SsangYong', 'Land Rover', 'Dacia', 'Sunbeam', 'Jaguar', 'Smart', 'Iveco', 'GMC', 'Lincoln', 'DKW', 'AMC', 'MG', 'Hillman', 'Eagle', 'Mini', 'Morris', 'UAZ', 'Simca', 'Lexus', 'Rambler', 'Porsche', 'Daf', 'Hudson', 'Think', 'Willys', 'Wolseley', 'DeSoto', 'Jensen', 'Infiniti', 'Packard', 'Fiat', 'Nash', 'Daimler', 'TruckMasters', 'Hummer', 'Studebaker', 'Checker', 'Rolls-Royce', 'Hupmobile', 'Bentley', 'Maserati', 'Cobra', 'Caterham', 'Fuso', 'Armstrong', 'Tesla', 'Ferrari', 'Lotus', 'Aston', 'Fisker', 'Lamborghini', 'Ginetta', 'McLaren', 'Borgward', 'Leyland', 'MAN', 'Marcos', 'SEAT', 'Kia', 'Ssangyong', 'MINI', 'Mercedes', 'Harley-Davidson', 'Victory', 'Kawasaki', 'Ducati', 'Granduca', 'Lmc', 'Westfalia', 'Adria', 'Yamaha', 'Ktm', 'Harley', 'Jdm', 'Uaz', 'Piaggio', 'Knaus', 'Carado', 'Microcar', 'Dethleffs', 'Sunlight', 'Aixam', 'Casa', 'Ligier', 'Aprilia', 'Sunwind', 'Sun', 'Hymer', 'Bmw', 'Man', 'Lada-Vaz', 'Can-Am', 'Globecar', 'KTM', 'Eura', 'Bertone', 'Burstner', 'Polar', 'Kabe', 'Tabbert', 'Pw', 'Derbi', 'Kymco', 'Polaris', 'Sea', 'Buster', 'Mclouis', 'Rimor', 'Gm', 'DS', 'Riviera', 'Truckmasters', 'Hobby', 'Cabby', 'Solifer', 'Challenger', 'Elnagh', 'Weinsberg', 'Joint', 'Miller', 'Karmann', 'Carthago', 'Sharky', 'Flair', 'Simson', 'Bmwi', 'Piccolo', 'Uttern', 'Matkaaja', 'Fendt', 'Rapido', 'Vespa', 'Niewiadow', 'Standard', 'Acadian', 'Acura', 'ZAZ', 'Lloyd', 'Matra', 'Riley', 'Frazer', 'Pinzgauer', 'NSU', 'London', 'TVR', 'Citroën', 'Chatenet', 'Poksi', 'Radical', 'Morgan', 'Maybach', 'Rotec', 'Capron', 'Gilera', 'FSO', 'Trapper', 'Essex', 'Ci', 'DFSK']
cars=['Ford', 'Volkswagen', 'Mercedes-Benz', 'Volvo', 'Toyota', 'BMW', 'Opel', 'Audi', 'Skoda', 'Fiat', 'Renault', 'Nissan', 'Peugeot', 'Citroen', 'Mitsubishi', 'Mazda', 'Honda', 'Kia', 'Hyundai', 'KIA', 'Subaru', 'Chevrolet', 'Seat', 'Saab', 'SEAT', 'Chrysler', 'Land', 'Jaguar', 'Citroën', 'Lexus', 'Porsche', 'Suzuki', 'Dacia', 'Dodge', 'Jeep', 'Mini', 'Alfa', 'Adria', 'MINI', 'Cadillac', 'Lada', 'Pontiac', 'Burstner', 'Iveco', 'Isuzu', 'Tesla']
excluded = [c for c in car_makes if (c not in cars)]

In [25]:
print(cars)
print(len(cars))

['Ford', 'Volkswagen', 'Mercedes-Benz', 'Volvo', 'Toyota', 'BMW', 'Opel', 'Audi', 'Skoda', 'Fiat', 'Renault', 'Nissan', 'Peugeot', 'Citroen', 'Mitsubishi', 'Mazda', 'Honda', 'Kia', 'Hyundai', 'KIA', 'Subaru', 'Chevrolet', 'Seat', 'Saab', 'SEAT', 'Chrysler', 'Land', 'Jaguar', 'Citroën', 'Lexus', 'Porsche', 'Suzuki', 'Dacia', 'Dodge', 'Jeep', 'Mini', 'Alfa', 'Adria', 'MINI', 'Cadillac', 'Lada', 'Pontiac', 'Burstner', 'Iveco', 'Isuzu', 'Tesla']
46

In [29]:
#Get car makes 
#we select 46 most popular
#get average price of the cars
#TODO: this does not take into account duplicate values

#Get cars which have multiple values in the database
conn = sqlite3.connect(db_name)
#ret=conn.execute("select name from cars_raw where name like 'Toyota%'").fetchall()
ret=conn.execute("select distinct name from cars_raw").fetchall()
#substr(trim(cmd),1,instr(trim(cmd)||' ',' ')-1)
ret=conn.execute("select distinct substr(trim(name),1,instr(trim(name)||' ',' ')-1) as Model, count(*), avg(price) from cars_raw where price > 500 group by Model order by count(*) DESC LIMIT 46").fetchall()
conn.close()
res=[]
print(("Model","Count","Price"))
for line in ret:
    print(line)
    res.append(line)

('Model', 'Count', 'Price')
('Volkswagen', 541407, 15858.467718370837)
('Mercedes-Benz', 527083, 22518.972199824315)
('BMW', 446032, 22566.38665835635)
('Ford', 436919, 18034.007092847874)
('Volvo', 418630, 20987.86769701168)
('Toyota', 374504, 14047.617387264221)
('Audi', 342984, 21521.41979800807)
('Opel', 244855, 14705.96001306896)
('Skoda', 237098, 17067.249854490547)
('Nissan', 204401, 13441.651904834125)
('Citroen', 168500, 5773.717756676558)
('Peugeot', 124835, 10075.700797052108)
('Renault', 106646, 12142.335708793578)
('Honda', 99865, 12382.633304961699)
('Mazda', 85462, 12949.835681355456)
('Hyundai', 83500, 13737.488754491018)
('Kia', 77694, 20864.345161788555)
('Mitsubishi', 76088, 16564.187611712754)
('KIA', 72249, 16336.887195670528)
('Fiat', 48085, 7674.795050431528)
('Subaru', 42754, 17728.35739346026)
('Chevrolet', 37586, 9942.728675570692)
('Seat', 34901, 9878.253058651615)
('SEAT', 27556, 16037.610756278125)
('Saab', 27056, 4749.610141927853)
('Chrysler', 25647, 4482.899910320895)
('Land', 25413, 36240.1895486562)
('Jaguar', 24484, 29520.832053586015)
('Lexus', 22056, 27779.684122234314)
('Porsche', 21749, 60256.529587567245)
('Suzuki', 19129, 10431.223587223587)
('Dacia', 18385, 12294.268098993745)
('Dodge', 16297, 13571.727434497147)
('Jeep', 13497, 16891.89227235682)
('Mini', 12159, 15442.104202648245)
('Alfa', 10375, 11585.771180722892)
('Adria', 9615, 51223.365366614664)
('MINI', 8780, 21672.715034168566)
('Cadillac', 5795, 16567.980845556514)
('Burstner', 4347, 61701.28939498505)
('Iveco', 4327, 18383.08805176797)
('Isuzu', 3584, 20676.805524553572)
('Lada', 3203, 1698.343428036216)
('Tesla', 2953, 64375.53335590925)
('Citro%C3%ABn', 2841, 19623.64906722985)
('Dethleffs', 2603, 28442.993853246255)